<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>签名记录 - 中山建设监理建筑工程文档协同管理系统</title>

		<meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/bootstrap.min.css"?>" />
        <link rel="stylesheet" href="<?php echo base_url()."assets/font-awesome/4.5.0/css/font-awesome.min.css"?>" />

        <!-- page specific plugin styles -->
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/bootstrap-duallistbox.min.css"?>" />
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/bootstrap-multiselect.min.css"?>" />
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/select2.min.css"?>" />
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/jquery-ui.min.css"?>" />
        
        <!-- text fonts -->
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/fonts.googleapis.com.css"?>" />

        <!-- ace styles -->
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/ace.min.css"?>" class="ace-main-stylesheet" id="main-ace-style" />
        
        
        <!--self css-->
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/self/self.css"?>" />

        <!--[if lte IE 9]>
            <link rel="stylesheet" href="<?php echo base_url()."assets/css/ace-part2.min.css"?>" class="ace-main-stylesheet" />
        <![endif]-->
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/ace-skins.min.css"?>" />
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/ace-rtl.min.css"?>" />

        <!--[if lte IE 9]>
          <link rel="stylesheet" href="<?php echo base_url()."assets/css/ace-ie.min.css"?>" />
        <![endif]-->

        <!-- inline styles related to this page -->

        <!-- ace settings handler -->
        <script src="<?php echo base_url()."assets/js/ace-extra.min.js"?>"</script>></script>

        <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

        <!--[if lte IE 8]>
        <script src="<?php echo base_url()."assets/js/html5shiv.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/respond.min.js"?>"></script>
        <![endif]-->
	</head>

	<body class="no-skin">
		<!--Top Begin-->
        <?php $this->load->view("pageTop.html"); ?>
        <!--Top End-->

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try {
					ace.settings.loadState('main-container')
				} catch(e) {}
			</script>

			<!--LeftTree Begin-->
            <?php $this->load->view("pageLeft.html"); ?>
            <!--LeftTree End-->

			<div class="main-content">
                <div class="widget-body">
                    <div class="widget-main padding-24">
                    	<input type="text" id="useacc" class="hidden" value="<?php if(isset($_SESSION['UserAcc'])) {echo $_SESSION['UserAcc'];}else{echo '【请先登录】';} ?>">
           
                        <!--affair list begin-->
                        <?php $this->load->view('affair_con.html'); ?>
                        <!--affair list end-->
                        <!--circle model begin-->
                        <?php $this->load->view('model_circle.html'); ?>
                        <!--circle model end-->
                    </div>
                </div>
            </div>
            <!-- main-content -->

			<!--Foor Begin-->
            <?php $this->load->view("pageFoot.html"); ?>
            <!--Foot End-->
            
		</div>
		<!-- /.main-container -->

        <!-- basic scripts -->

        <!--[if !IE]> -->
        <script src="<?php echo base_url()."assets/js/jquery-2.1.4.min.js"?>"></script>

        <!-- <![endif]-->

        <!--[if IE]>
        <script src="<?php echo base_url()."assets/js/jquery-1.11.3.min.js"?>"></script>
        <![endif]-->
        <script src="<?php echo base_url()."assets/js/bootstrap.min.js"?>"></script>

        <!-- page specific plugin scripts -->

        <!--[if lte IE 8]>
          <script src="assets/js/excanvas.min.js"></script>
        <![endif]-->
        <script src="<?php echo base_url()."assets/js/jquery-ui.custom.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/jquery.ui.touch-punch.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/jquery-ui.min.js"?>"></script>
        
        <!--dataTable-->
 		<!--dataTable-->
        <script src="<?php echo base_url()."assets/js/jquery.dataTables.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/jquery.dataTables.bootstrap.min.js"?>"></script>
        
        <!-- ace scripts -->
        <script src="<?php echo base_url()."assets/js/ace-elements.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/ace.min.js"?>"></script>
		<script src="<?php echo base_url()."assets/js/tree.min.js"?>"></script>
        <!-- inline scripts related to this page -->
        <script src="<?php echo base_url()."assets/js/self/Show_LeftTreeA.js"?>"></script>
        <script type="text/javascript">
            jQuery(function($){
            	    var useacc=$("#useacc").val();
            	    var MesArray='';
					var treeurl="<?php echo site_url('Affair/getTree')?>"+'/'+useacc;
					$.ajax({
						type:"post",
						url:treeurl,
						async:false,
						success:function(data){
						   MesArray = eval("("+data+")")
//                         console.log(MesArray)
							function initiateDemoData(){
								var dataSource1 = function(options, callback){
								var $data = null
								if(!("text" in options) && !("type" in options)){
									$data = MesArray;//the root tree
									callback({ data: $data });
									return;
								}
								else if("type" in options && options.type == "folder") {
									if("additionalParameters" in options && "children" in options.additionalParameters)
										$data = options.additionalParameters.children || {};
									else $data = {}//no data
								}
								if($data != null)//this setTimeout is only for mimicking some random delay
									setTimeout(function(){callback({ data: $data });} , parseInt(Math.random() * 500) + 200);
					
								}
								return {'dataSource1': dataSource1}
							}
							var sampleData = initiateDemoData();
							$('#tree1').ace_tree({
								dataSource: sampleData['dataSource1'] ,
								loadingHTML:'<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>',
								'open-icon' : 'ace-icon fa fa-folder-open',
								'close-icon' : 'ace-icon fa fa-folder',
								'itemSelect' : true,
								'folderSelect': true,
								'multiSelect': false,
								'selected-icon' : null,
								'unselected-icon' : null,
								'folder-open-icon':'ace-icon tree-plus',
								'folder-close-icon':'ace-icon tree-minus'
							});
						},
						error:function(s,e,t){
							
						}
					});
					
			
                /*
                 * tableINI
                 */
                //table_table
                //签名记录显示
                
            })
            var table = $('#dynamic-table_table').DataTable();
            $('#tree1').on('selected.fu.tree', function(e,data1) {
            			var useacc=$("#useacc").val();
						var mes=data1.selected[0].text;
						var status=data1.selected[0].flag;
						mes=encodeURI(mes);
						if(status=="1"){
							//情况为1是只搜索该工程下的所有表单
							var showMes = "<?php echo site_url('Affair/affair_Signshow1');?>"+'/'+useacc+'/'+mes;
						}
						if(status=="2"){
							//情况为2是只搜索该工程下模板的所有表单
							var proname=data1.selected[0].proname;
							var showMes = "<?php echo site_url('Affair/affair_Signshow');?>"+'/'+useacc+'/'+proname+'/'+mes;
						}
		                var tableTab = $('#dynamic-table_table').DataTable({
		                    ajax:showMes,
		                    columns:[
		                        {"data":'TabNam'},
		                        {"data":'SignDate'},
		                        {"data":'ProNam'}
		                    ],
		                    oLanguage: {
		                        sLengthMenu: "显示 _MENU_ 条数据",
		                    },
		                    "destroy": true,
		                    "processing": true,
		                    "aaSorting": [],
		                    "aoColumnDefs": [{
		                        'bSortable': false,
		                        'aTargets': [0,1,2]
		                    }],
		                });
						
				})
        </script>
        
	</body>

</html>