<!--title begin-->
<span style="font-size: 22px;" >签名记录</span>
<div class="hr hr8 hr-double hr-dotted"></div>
<!--title end-->
<div class="col-xs-6">
	<div class="widget-box widget-color-blue">
		<div class="widget-header">
			<h4 class="widget-title lighter smaller">工程</h4>
		</div>

		<div class="widget-body">
			<div class="widget-main padding-8">
				<ul id="tree1"></ul>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-6">
	<div class="widget-box widget-color-blue">
		<div class="widget-header">
			<h4 class="widget-title lighter smaller">签名详情</h4>
		</div>
		<div class="widget-body">
			<div class="tab-content">
        		<div id="home1" class="tab-pane in active">
           			<table id="dynamic-table_table" class="table table-striped table-bordered table-hover" style="width: 100%;">
                		<thead>
                    		<tr>
                        		<th>表单名</th>
                     		    <th>签名时间</th>
                     		    <th>工程名</th>
                   			 </tr>
               			</thead>
               		 	<tbody>
               		 	</tbody>
            		</table>
        		</div>
    		</div>
		</div>
	</div>
</div>
