<div class="col-xs-5">
    <div class="widget-box" >
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title smaller">
                <span>模板列表</span>
            </h4>
            <input type="text" placeholder="查询目录..." id="searchTreeText" />
        </div>
        <div class="widget-body">
            <div class="widget-body">
                <div class="widget-main padding-8">
                    <div class="noidSet">
                        <ul class="l-tree"></ul>
                    </div>
                    <div style="display:none"></div>
                </div>
            </div>
        </div>
    </div>
</div>